@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');

html, body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}


/* Backgrounds of Pages */
.landing {
    background-image: url("/assets/images/background.jpg");
    height: 100vh;
    background-size: cover;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr auto 3fr;
}

#by-strain {
    min-height: 100vh;
    background-image: url("/assets/images/body.jpg");
    background-size: cover;
    display: grid;
    align-content: center;
    grid-template-columns: 0.1fr 1.6fr 0.1fr 3fr 0.1fr;
    padding-top:30px;
}

#by-flavfeel {
    min-height: 100vh;
    background-image: url("/assets/images/body2.jpg");
    background-size: cover;
    display: grid;
    align-content: center;
    grid-template-columns: 0.1fr 1.6fr 0.1fr 3fr 0.1fr;
    padding-top:40px;
}


/* Navbar Stuff */
.main-navbar {
    color: white;
    padding-left: 32px;
    padding-right:32px;
    transition: background-color 200ms linear;
}

.nav-link {
    color: #ffffff;
    transition: all 0.3s ease-in;
    text-decoration:none;
}

.nav-link:hover {
    color: #ffffff;
    text-shadow: 0.8px 0.8px 0.8px 0.8px white;
}

.fa-cannabis {
    margin-right: 10px;
    color: white;
}

.navbar h5 {
    margin-bottom: 0px;
}

.navbar-brand {
    display: inline-flex;
}

.bg-colored {
    background: #2C3E50 !important;
}

/* Jumbotron Stuff */
.jumbotron {
    opacity: 0.85;
    margin-bottom: 0px;
    padding: 64px 42px;
    height: max-content;
}

.jumbotron.logon h6 {
  font-weight: 600;
}

.jumbo-buttons {
    display: grid;
    grid-template-columns: 42% 58%;
}


/* Top Margin for pages */
.margin-up {
    margin-top: 125px;
}


/* Links in Misc Buttons */
.white_link {
    color: #ffffff;
    transition: all 0.3s linear;
}

.white_link:hover {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}


/* Canna Cards */
.grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
}

.strain-card {
    border-radius: 5px;
    color: #ffffff;
    padding: 10px;
    font-size: 14px;
    margin: 14px;
    display: grid;
    grid-template-areas: 'header similarity' 'symbol symbol' 'name name';
}

.strain-header {
    align-self: center;
    justify-self: left;
    grid-area: header;
}

.strain-similarity {
    align-self: center;
    justify-self: right;
    grid-area: similarity;
    padding: 3px;
    border-radius: 8px;
}

.strain-symbol {
    font-size: 36px;
    align-self: center;
    justify-self: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    grid-area: symbol;
}

.strain-name {
    justify-self: left;
    align-self: end;
    font-size: 15px;
    font-weight: bold;
    grid-area: name;
}

.high {
    background: green;
}

.med {
    background: orangered;
}

.low {
    background: red;
}

.hybrid {
    background: rgb(119, 190, 67)
}

.indica {
    background: rgb(110, 51, 95)
}

.sativa {
    background: rgb(212, 71, 40)
}

.strain-l:hover {
    text-decoration: none;
}

/* Scrolling Arrow */
.scroll-top-wrapper.show {
    visibility: visible;
    cursor: pointer;
    opacity: 1.0;
}

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: #2C3E50;
    color: #eeeeee;
    width: 64px;
    height: 64px;
    right: 30px;
    bottom: 30px;
    border-radius: 32px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    line-height: 86px;
}

.fa-2x {
    font-size: 42px;
}

/* Results Box */
.results {
    background: rgb(236,240,241,0.7);
    border-radius: 0.3rem;
}

/* Question Sections */
.question-section h6 {
    margin-bottom: 10px;
    font-weight: bold;
}

.question-section h4 {
    font-size: xx-large;
    font-weight: bold;
}